@model IEnumerable<MVC.Models.SystemUserViewModel>

@{
    ViewBag.Title = "Admins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <section class="content-header">
        <h1>Admins <small>Control panel</small></h1>
        <div class="add-button">
            <button class="btn btn-primary" onclick="show_add()"><i class="fa fa-plus" aria-hidden="true"></i> Add More</button>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">System Users</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-bordered" id="user-table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FullName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        Updated By
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @if (item.UpdateDate.HasValue)
                                            {
                                                @item.UpdateDate.Value.ToString("MMM dd, yyyy - hh:mm tt")
                                            }
                                            else
                                            {
                                                @Html.Raw(string.Format("N/A"))
                                            }
                                        </td>
                                        <td>
                                            @if (item.Status == 1)
                                            {
                                                @Html.Raw(string.Format("Active"))
                                            }
                                            else
                                            {
                                                @Html.Raw(string.Format("Inactive"))
                                            }
                                        </td>
                                        <td>
                                            @if (item.UpdatedBy.HasValue)
                                            {
                                                @Html.DisplayFor(modelItem => item.EditedBy)
                                            }
                                            else
                                            {
                                                @Html.Raw(string.Format("N/A"))
                                            }
                                        </td>
                                        <td>
                                            @Html.Raw(string.Format("<label class='label label-primary btn-label' onclick='ViewModel(" + item.Id + ")'>View</label> " +
                                            "<label class='label label-primary btn-label' onclick='UpdateModel(" + item.Id + ")'>Update</label> " +
                                            "<label class='label label-primary btn-label' onclick='ShowTasks(" + item.Id + ")'>Tasks</label>"))
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@*Add modal starts*@
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <form class="form-horizontal" id="add-form">
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Full Name</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="FullName" placeholder="Full Name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">E-mail</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="Email" placeholder="E-mail" class="form-control" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="Password" placeholder="Password" class="form-control" type="password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Confirm Password</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="confirmPassword" placeholder="Password" class="form-control" type="password">
                                </div>
                            </div>
                        </div>
                        <span id="error-span" style="color: indianred; font-size: 120%"></span>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-button">Save</button>
                </div>
            </form>
        </div>

    </div>
</div>
@*Add modal ends*@

@*Update modal starts*@
<div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update User</h4>
            </div>
            <form class="form-horizontal" id="update-form">
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group hide">
                            <label class="col-md-3 control-label">ID</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="Id" id="updateId" placeholder="Id" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Full Name</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="FullName" id="updateFullName" placeholder="Full Name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">E-mail</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="Email" id="updateEmail" placeholder="E-mail" class="form-control" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Status</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <select name="Status" id="updateStatus" class="form-control">
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <span id="error-span2" style="color: indianred; font-size: 120%"></span>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="update-button">Update</button>
                </div>
            </form>
        </div>

    </div>
</div>
@*Update modal ends*@


@*View modal starts*@
<div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Details</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group" style="text-align:center">
                    <img src="~/Content/Images/Users/user.png" style="width: 100px; height: 100px; border-radius: 50px" id="detailsImage"/>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Full Name</label>
                    <div class="col-md-9 top-padding">
                        <span id="detailsFullName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">E-mail</label>
                    <div class="col-md-9 top-padding">
                        <span id="detailsEmail"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Last Update</label>
                    <div class="col-md-9 top-padding">
                        <span id="detailsLastUpdate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Updated By</label>
                    <div class="col-md-9 top-padding">
                        <span id="detailsUpdatedBy"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Status</label>
                    <div class="col-md-9 top-padding">
                        <span id="detailsStatus"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="add-button" onclick="gotoUpdate()">Edit</button>
            </div>
        </div>
    </div>
</div>
@*View modal ends*@

<script>
    var detId;

    $(document).ready(function () {
        var table = $('#user-table').dataTable({
            "order": []
        });
    });
    function gotoUpdate() {
        UpdateModel(detId);
    }


    function UpdateModel(id) {
        $.ajax({
            type: "POST",
            url: "/SystemUsers/EditValue/" + id,
            dataType: 'json',
            async: false,
            success: function (result) {
                $('#updateId').val(id);
                $('#updateFullName').val(result.FullName);
                $('#updateEmail').val(result.Email);
                $('#updateStatus').val(result.Status);
                $('#updateModal').modal('show');
            },
            error: function () {
                alert('Failed');
            }
        });
    }

    function ViewModel(id) {
        detId = id;
        $.ajax({
            type: "POST",
            url: "/SystemUsers/Details/" + id,
            dataType: 'json',
            async: false,
            success: function (result) {
                $('#detailsModal').modal('show');
                $('#detailsFullName').html(result.FullName);
                $('#detailsEmail').html(result.Email);
                $('#detailsLastUpdate').html(result.UpdateDateString);
                if (result.UpdatedBy != null) {
                    $('#detailsUpdatedBy').html(result.EditedBy);
                }
                else {
                    $('#detailsUpdatedBy').html('N/A');
                }

                if (result.Status != '1') {
                    $('#detailsStatus').html('Inactive');
                }
                else {
                    $('#detailsStatus').html('Active');
                }

                if (result.Image != null) {
                    $.ajax({
                        url: '/Content/Images/Users/' + result.Image,
                        type: "head",
                        success: function () {
                            $('#detailsImage').attr('src', '/Content/Images/Users/' + result.Image);
                        },
                        error: function () {
                            console.log('Not available');
                        }
                    });
                }

            },
            error: function () {
                alert('Failed');
            }
        });
    }

    function show_add() {
        $('#addModal').modal('show');
    }




    $(document).ready(function () {
        $("#add-button").click(function () {

            var validator = $('#add-form').data('bootstrapValidator');
            validator.validate();
            if (validator.isValid()) {

                var data = $('#add-form').serialize();

                $.ajax({
                    type: "POST",
                    url: "/SystemUsers/Create",
                    data: data,
                    async: false,
                    success: function (result) {
                        if (result == 1) {
                            window.location.href = '/SystemUsers';
                        }
                        else {
                            $('#error-span').html('Error in insert. This e-mail maybe used before.');
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                });
            }
            else {
                return false;
            }
        });

        var validate = $('#add-form').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                FullName: {
                    validators: {
                        stringLength: {
                            min: 5,
                        },
                        notEmpty: {
                            message: 'Please supply your full name'
                        }
                    }
                },
                Email: {
                    validators: {
                        notEmpty: {
                            message: 'Please supply your email address'
                        },
                        emailAddress: {
                            message: 'Please supply a valid email address'
                        }
                    }
                },
                Password: {
                    validators: {
                        identical: {
                            field: 'confirmPassword',
                            message: 'Confirm your password below - type same password please'
                        },
                        stringLength: {
                            min: 8,
                        },
                        notEmpty: {
                            message: 'Please supply your password'
                        }
                    }
                },
                confirmPassword: {
                    validators: {
                        identical: {
                            field: 'Password',
                            message: 'The password and its confirm are not the same'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function (e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
            $('#reg_form').data('bootstrapValidator').resetForm();
            e.preventDefault();
            var $form = $(e.target);
            var bv = $form.data('bootstrapValidator');
            $.post($form.attr('action'), $form.serialize(), function (result) {
                console.log(result);
            }, 'json');
        });



        $("#update-button").click(function () {
            var validator = $('#update-form').data('bootstrapValidator');
            validator.validate();
            if (validator.isValid()) {
                var data = $('#update-form').serialize();

                $.ajax({
                    type: "POST",
                    url: "/SystemUsers/Edit",
                    data: data,
                    async: false,
                    success: function (result) {
                        if (result == 1) {
                            window.location.href = '/SystemUsers';
                        }
                        else {
                            $('#error-span2').html('Error in update. This e-mail maybe used before.');
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                });
            }
            else {
                return false;
            }
        });
        var validate = $('#update-form').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                FullName: {
                    validators: {
                        stringLength: {
                            min: 5,
                        },
                        notEmpty: {
                            message: 'Please supply your full name'
                        }
                    }
                },
                Email: {
                    validators: {
                        notEmpty: {
                            message: 'Please supply your email address'
                        },
                        emailAddress: {
                            message: 'Please supply a valid email address'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function (e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
            $('#reg_form').data('bootstrapValidator').resetForm();
            e.preventDefault();
            var $form = $(e.target);
            var bv = $form.data('bootstrapValidator');
            $.post($form.attr('action'), $form.serialize(), function (result) {
                console.log(result);
            }, 'json');
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img-add').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#image-add").change(function () {
        readURL(this);
    });


</script>